html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
ul {
  padding: 0 30;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h3 {
  color: aquamarine;
}

/* forall */
.cursor-pointer {
  cursor: pointer;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.mb-0 {
  margin-bottom: 0;
}

.letterspac {
  letter-spacing: 0.59em;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.ltr-shrt-spec {
  letter-spacing: 0.39em;
  font-size: 16px;
  line-height: 22px;
}

.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}
.white {
  color: #ffffff;
}

.d-flex {
  display: flex;
}
.w-30px {
  max-width: 30px;
}

.align-center {
  align-items: center;
}

.light-dark {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 58.85%
  );
}

.m1 {
  margin-top: 5px;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}
.savebtn {
  background-color: #7cc5e5;
  padding: 8px 45px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}
.react-calendar {
  width: 100% !important;
}
.react-calendar button {
  color: black;
}
.react-calendar__navigation button {
  color: black;
}
.signupheading1 {
  font-size: 30px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}
/* for all end */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

input::placeholder {
  padding-left: 10px;
}
.h-full {
  height: 100vh;
}
.w-100 {
  width: 100%;
}
